*{
    padding:0;
    margin:0;
}
html,body{
    height: 100%;
    width: 100%;
    min-width: 901px;

}
body{
   background: rgb(244,244,244);
   
}

#typepageHead{
    background: rgb(255,255,255);
    width: 100%;
    height: 54px;
    position:fixed;
    z-index:99;
    top:0;
    box-shadow: 5px 5px 9px 2px rgb(195,195,195);

}
#typepageHead img{
    position: absolute;
    top:50%;
    left: 20%;
    margin:-18px 0 0 -36px;
}
#typepageHead div{
    display: inline-block;
    
}
/*小搜索框*/
/* #typepageHead input{
    width:260pxw
    height: 26pxv
    border: 1px solid rgb(166,166,166)u
    border-radius: 25pxt
    background: rgb(252,252,252)s
     position: absoluter
    top:50%q
    left:80%p
    margin:-13px 0 0 -130pxo
} */
.typepageHeadInputBox{
    width:260px;
    height: 26px;
    border: 1px solid rgb(166,166,166);
    border-radius: 25px;
    background: rgb(252,252,252);
    position: absolute;
    top:50%;
    left:80%;
    margin:-13px 0 0 -130px;

}
.typepageHeadInputSearch{
    border:0;
    width: 236px;
    height: 25px;
    font-size:17.1px;
    border-radius: 25px;
    text-indent: 1em;
    float:left;
    color:rgb(143,143,143);
    outline: none;
}
.typepageHeadInputbuttom{
    border:0;
    width:18px;
    height:18px;
    margin-top:4px;
    background: url(img/小search.png) ;
    float:left;
    cursor: pointer

}
/*轮播图*/
#typepageAuto  {
    width:100%;
    min-width: 901px;
    height: 184px;
    margin-top:54px;

}
 #container {
    position: relative;
    width: 901px;
    height: 184px;
    overflow: hidden;
    margin:0 auto;
            
}

#buttons{
    width:180px;
    height:15px;
    position: absolute;
    left:50%;
    bottom: 5px;
    margin:0 0 0 -68px;
    z-index: 88;

}
#buttons span{
    width:15px;
    height:15px;
    border-radius: 50%;
    background:rgb(217,210,207);
    float:left;
    margin-right: 45px;
    cursor: pointer;
    box-shadow:inset 1px 1px 1px rgb(159,158,158);
}
#buttons .on{
    width:15px;
    height:15px;
    border-radius: 50%;
    background:rgb(77,73,71);
    float:left;
    margin-right: 45px;
    cursor: pointer;

}
#list{
    position: absolute;
    z-index: 80;
    width:4505px;
    height: 184px;
}
#list div{
    width:901px;
    height: 184px;
    float:left;

}
/*第一张图*/
#list .banner1{
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;

}

#list .banner1 p{
    font-size: 26.58px;
    font-family: 微软雅黑;
    margin-top:10px;

   }
/*第二张*/
#list .banner2{
    display: flex;
    justify-content:center;
    align-items: center;

}
/*第三张*/
#list .banner3{
    background: url(img/banner3背景.png);
    display: flex;
    justify-content:center;
    align-items: center;


}
#list .banner3 .banner3Box{
    width:790px;
    height:102px;
    background: rgb(240,239,239);
    border: 3px solid rgb(77,73,71);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
#list .banner3 .banner3Box img{
    margin-bottom: 17px;
}

#list .banner3 .banner3Box p{
    font-size: 24px;
}
/*背景图*/
.bg1{
    background: url(img/banner13背景.png);
}
.bg2{
    background: url(img/banner2背景.png);
}
/*主体*/
#typepageMainbody{
    width:901px;
    margin:0 auto;
    height:1075px;
    

   
}
/*1,导航栏*/
#mainbodyTop{
    padding-top:15px; 
    width:100%;
    height:48px;
    border-bottom: 1px solid rgb(216,216,216);
  
    
}
#mainbodyTop ul{
    list-style:none;

}
#mainbodyTop ul li{
    color: rgb(130,130,130);
}
#mainbodyTop ul li{
    float:left;
    line-height: 48px;
    font-size: 14px;
    padding-right:23px;
    font-family: 微软雅黑；


}
a:link,a:visited{color:#0a0909;
                 text-decoration:none;}
a:hover,a:active{color:rgb(235,161,85);
                text-decoration:none;}
/*2,书部分*/
#mainbodyBook{
    width:100%;
    height:835px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
#mainbodyBook .book{
    width:201px;

    
}
.book>img{
      cursor: pointer;

}
.bookMsg{
    width:104px;
    margin:0 auto;
    border-bottom: 1px solid rgb(217,217,217);
 
 
 }
.bookMsg p{
   text-align: center;
   font-size: 15px;
   font-weight:bold;
   padding-bottom:7px;
}
 .bookMsg img{
  padding:10px 4px 5px 0;
 
 }
#mainbodyBook .bookMsg img[alt=""]{
    padding-right:0px;
}
.threeBook{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;

}
/*3，分页码*/
#mainbodyNumber{
    width:100%;
    padding:20px;
    margin-top:40px;

}
#mainbodyNumber a{
    padding:0 6px;
    font-size: 15px;
    color: rgb(40,40,40);
}
#mainbodyNumber a:hover{
    border-radius: 50%;
    background: rgb(68,68,68);
    color: white;
}

#mainbodyNumber a[name]:hover{
    background:  rgb(244,244,244);
    color:rgb(235,161,85); 
}
#mainbodyNumber p{
    font-size: 15px;
    text-align: center;}


/*详情页*/
/*  #typepageAlert{
  position:absolute;
  width:100%;
  height: 1075px;
  position: absolute;
  top:238px;
 
  display: none;
} */
/* #wrap{
    display:none;
    width:906px;
    height:900px;
} */
#mask{
    background: rgb(182,179,179);
    opacity: 0.75;
    filter:alpha(opacity=75);
    height:100%;
    width:100%;
    position: absolute;
    top:238px;
    left:0;
}
#typepageAlertDetails{
    width:906px;
    height:900px;
    z-index:88;
    position: absolute;
    top:50%;
    left:50%;
    margin:0px 0px 0px -453px;
    background: rgb(251,251,251);
    box-shadow:2px 2px 10px rgb(180,179,179) ,-2px -2px 10px rgb(180,179,179);
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    animate-timing-function:ease;
    -moz-animate-timing-function:ease;
    -webkit-animate-timing-function:ease;
    animate-duration:0.5s;
    -webkit-animate-duration:0.5s;
    -moz-animate-duration:0.5s;       transition: all 0.5s linear ;
    -moz-transition:all 0.5s linear ;
    -webkit-transition:all 0.5s linear ;
    -o-transition:all 0.5s
           
      }
       
#typepageAlertDetails #close{
    position: absolute;
    top:0;
    right: 0;
      } 

#typepageAlertDetails .DetailsMain{
    width:660px;
    margin:100px 0;
    padding:46px 60px;
          
}
/*右面书名部分*/

 .DetailsMainBookName{
    width:323px;
    height: 328px;
    float:right;
    padding-top:40px;

}
.DetailsMainBookNameContent{
    width:100%;
    height:270px;
    margin-top:19px;
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction: column;
   
}
/*1书名*/
.DetailsMainBookName>p{
    font-size: 30px;
    text-indent: 2em;
    
}
.DetailsMainBookNameContent span,p{
    color: rgb(42,42,42);
    font-size: 15px;
}
/*2图书馆藏书x楼x架xx*/
.DetailsMainBookNameContent span p{
    text-indent: 9em;
}
/*3小图标*/

.DetailsMainBookNameContent img[alt]{
    border-right: 1px solid rgb(146,146,146);

}
.DetailsMainBookNameContent img{
    padding:0 10px;
}
.DetailsMainBookNameContent div div{
    margin-top:3px;

}
.introdution{
    margin-top:38px;
}

.introdution h4{
    font-size: 14px;
    color: #2a2827;
}
.introdution p{
    padding:4px;
    font-size: 12px;
    text-indent: 3em;
    color: #2a2827;
}
